:root{
  --text-color: #95E1D3;
  --texr-hover-color: #F38181;
  --title-text-color: #333;
  --mini-text-color: #B6B6B6;
}

.container{
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.container-hero{
  width: 274px;
  margin-right: auto;
  margin-left: auto;
}

/* header */

.header{
  font-family: Montserrat;
  padding-top: 17px;
  padding-bottom: 80px;
}

.header-box{
  display: flex;
  align-items: center;
}

.logo-header{ 
color: var(--text-color);
font-size: 30px;
font-weight: 700;
line-height: normal;
width: 98px;
height: 33px;  
margin-right: 632px;
}

.items-header{
  display: flex;
  gap: 55px;
}

.nav-header{
font-size: 14px;
font-weight: 400;
line-height: normal;
color: var(--text-color);  
}

.nav-header:hover{
  color: var(--texr-hover-color);
  border-bottom: 3px solid var(--texr-hover-color);
  width: 50px;
}



/* шапка типу */

.container-hero{
margin-bottom: 109px;
margin-top:  20px;
}

.subtitle{
  color: var(--title-text-color);
font-family: "Kaushan Script";
font-size: 24px;
font-weight: 400;
line-height: normal;
display: flex;
justify-content: center;
}

.title{
  color: var(--title-text-color);
font-family: Montserrat;
font-size: 30px;
font-weight: 700;
line-height: normal;
font-variant: all-small-caps;
display: flex;
justify-content: center;
}

/* fgfgfgffg  */

.informashion{
  margin-bottom: 100px;
}

/* Контейнер */
.container-informashion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
    width: 100%;
  max-width: 1168px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.items-informashion {
  list-style: none;
  margin: 0;
  padding: 0;
  display: contents; 
}



.title-informashion{
  color: var(--title-text-color);
font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: normal;
font-variant: small-caps;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 20px;


}


.text-informashion{
  color: var(--mini-text-color);
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 22px; 
}

/* info */

.info{
  padding-bottom: 27px;
}

.container-info{
  width: 1104px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 auto;
}

.line{
  border-bottom: 4px solid var(--texr-hover-color);
  width: 60px;
  height: 4px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 36px;
  margin-bottom: 45px;
}

.text-info{
  color: var(--mini-text-color);
text-align: center;
font-family: Roboto;
font-size: 15px;
}

/* team */

.team{
  padding-bottom: 80px;
}

.items-team{
  display: flex;
  gap: 30px;
}

.img-team{
  width: 380px;
  padding-bottom: 30px;
}

.subtitle-team{
  color: var(--title-text-color);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  font-variant: all-small-caps;
  margin-bottom: 11px;
}

.text-team{
  color: var(--mini-text-color);
text-align: center;
font-family: Roboto;
font-size: 13px;
font-style: italic;
font-weight: 300;
}

/* footer */

.footer{
  padding-bottom: 10px;

}

.box-footer{
  display: flex;
  align-items: center; 
   border-top: 1px solid var(--texr-hover-color);
   margin-bottom: 10px;
}

.text-footer{
  color: var(--title-text-color);
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;

margin-right: 535px;
}

.span-footer{
  color: var(--texr-hover-color);
}

.btn-footer{
  margin-top: 10px;
background-color: var(--text-color);
border: none;
padding: 11px 38px 11px 38px;
color: #fff;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
font-variant: all-small-caps;
margin-left: -5px;
height: 39px;
}

.imput-footer{
  width: 230px;
height: 34px;
border: 1px solid var(--text-color);
color: var(--mini-text-color);
font-family: Roboto;
font-size: 14px;
font-style: italic;
font-weight: 300;
}